.value {
  border: 1px solid var(--border-color);
  text-align: center;
  padding: 20px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  position: relative;
}

.loading {
  opacity: 0.6;
}

.entity {
  display: flex;
  align-items: center;
}

.entity__image {
  width: 100px;
  margin-right: 20px;
  background-size: contain;
  border-radius: 4px;
  background-position: center center;
  border-radius: 1px solid var(--border-color);
  background-repeat: no-repeat;
  background-color: var(--light-bg-color);
  padding: 2px;
}
.entity__image:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.entity__info {
  flex: 1;
  text-align: left;
}

.entity__type-tag {
  background-color: var(--light-color);
  color: var(--accent-color);
  font-size: 0.8em;
  padding: 2px 5px;
  border-radius: 2px;
  margin-bottom: 5px;
  display: inline-block;
}

.entity__title {
  margin-bottom: 3px;
  color: var(--accent-color);
}

.entity__title a {
  font-size: 17px;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.entity__title a:hover {
  text-decoration: underline;
}

.entity__title svg {
  font-size: 0.8em;
  padding-left: 0.5em;
  display: inline;
}

.entity__subtitle {
  color: var(--light-body-color);
  font-size: 0.9em;
  margin-bottom: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.entity__code {
  font-size: 0.9em;
  color: var(--light-body-color);
  margin-bottom: 10px;
}

.reset {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
  background: none;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  font-size: 18px;
}

.reset:hover {
  opacity: 0.8;
}